<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="false">
    <serverUrls>
        <serverUrl url="http://services.arcgis.com"
                   matchAll="true"
                   clientId="vYoQdGHrl7JbjAG6"
				   clientSecret="1420803425fb42d39e9ab56cece30068"
				   token="wGr5XsLjk-yhJITKCGQr4_wqBq67gg2KJTWJg7fdiX1bQ8DMrGeAUh6tSPfmM-Ef_UD03d1eLManDyuq2mVRzZYsfwODPkS4UHas6bS2sXwuX-Wfs5EwwrWJuZPTjYxW"/>
		<serverUrl url="http://elevation.arcgis.com"
                   matchAll="true"
                   clientId="vYoQdGHrl7JbjAG6"
				   clientSecret="1420803425fb42d39e9ab56cece30068"
				   token="wGr5XsLjk-yhJITKCGQr4_wqBq67gg2KJTWJg7fdiX1bQ8DMrGeAUh6tSPfmM-Ef_UD03d1eLManDyuq2mVRzZYsfwODPkS4UHas6bS2sXwuX-Wfs5EwwrWJuZPTjYxW"/>
    </serverUrls>
    <serverUrl url="http://route.arcgis.com"
                   matchAll="true"
                   clientId="vYoQdGHrl7JbjAG6"
           clientSecret="1420803425fb42d39e9ab56cece30068"
           token="wGr5XsLjk-yhJITKCGQr4_wqBq67gg2KJTWJg7fdiX1bQ8DMrGeAUh6tSPfmM-Ef_UD03d1eLManDyuq2mVRzZYsfwODPkS4UHas6bS2sXwuX-Wfs5EwwrWJuZPTjYxW"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
